*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    color: white;
    background-color: black;
}

/*********************************
            utility
*********************************/
.bg-black{
    background-color:black;
}

.bg-grey{
    background-color: #232427;
}




/*********************************
            header
*********************************/

.header-conteiner{
    height: 45px;
    line-height: 45px;
    text-align: right;
    padding-right: 6px;
}

.header-conteiner button{
    padding:3px 6px;
}
.header-conteiner button span{
    padding-left: 5px;
}

/*********************************
            main
*********************************/

.main-conteiner{
    height: calc(100vh - 100px);
    margin-bottom: 45px;
    display: flex;

}
    
.page-index{
    width: 35px;

}

.arow-ico{
    color: #7f7f7f;
    font-size: 45px;
}


.zoom-users{
    display: flex;
    flex-wrap: wrap;
    width: calc(100% - 15px);
    height: 100%;
}   



.user{
    width: calc(100% / 5 - 15px);
    border: 1px solid #7f7f7f;
    height: 60px;
}

/*********************************
            footer
*********************************/

.footer-conteiner{
    height: 55px;
}